.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app_logo-tauschticket {
  /* height: 2rem;
  width: 2rem; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  display: grid;
  grid-template-columns: 2rem repeat(10, 1fr) 2rem;

  background-color: white;
}
body {
  grid-column-start: 1;
  grid-column-end: -1;
}
.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 4rem repeat(10, 1fr) 4rem;
  grid-template-rows: min-content min-content min-content 1fr;
  row-gap: 6rem;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header_page {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #5a9863;
  display: grid;
  /* grid-template-columns: minmax(0, 33vw) min-content minmax(0, 33vw); */
  grid-template-columns: 5rem repeat(3, 1fr) 5rem;
}
.header_page-navi {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_description {
  padding: 2rem 5rem;
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #f6f6f6;
}
.footer {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.footer_description {
  padding: 2rem 5rem;

  background-color: #f6f6f6;
}
.area-textfield {
  grid-column-start: 4;
  grid-column-end: -4;
  grid-row-start: 4;
  width: 100%;
  /* margin: 5rem 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-textfield__buttton {
  margin-right: 2rem;
}
.area-textfield__input {
  min-width: 35vw;
  max-height: 50vh;
}
.area-textfield__input-form {
  display: flex;
  flex-direction: column;
}
.area-textfield__buttons {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.App-link {
  color: #61dafb;
}
.howToGetStarted_section {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: -2;
}
.howToGetStarted_section-guide {
  display: grid;
  grid-template-columns: 60% 40%;
}
.howToGetStarted_section-guide__stepByStep {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
  row-gap: 1rem;
  column-gap: 1rem;
}
.howToGetStarted_section__icons {
  width: 1.5rem;
  height: 1.5rem;
}
.step {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}
.step__desсription {
  color: #5a5a5a;
  font-size: 0.9rem;

  text-align: left;
}
.links-section {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a9863;
}
.links-section_logos {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-right: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.8rem;
}
.links-section_logos-facebook {
  width: 1.8rem;
  height: 1.8rem;
}
.links-section_logo {
  width: 1.5rem;
  height: 1.5rem;
}
/*Typography*/
.typography_header-page {
  /*1rem = 1px/16*/
  font-size: 1rem;
}
.typography_description {
  color: #7c7777;
  font-size: 1rem;
}
.typography_links-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.typography_step {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;

  justify-self: center;
  align-self: center;
}
/*roboto style*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/*abel font*/
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ___ */
.header-1_1 {
  font-size: 3rem;
  color: black;
}
.header-1_2 {
  font-size: 3rem;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
