/*Typography*/
.typography_header-page,
.typography_header-page:hover {
  /*1rem = 1px/16*/
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
/* .typography_header-page:hover {
  cursor: pointer;
  text-decoration: none;
} */
.typography_description {
  color: #7c7777;
  font-size: 1rem;
}
.typography_links-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.typography_step {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;

  justify-self: center;
  align-self: center;
}
/*roboto style*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/*abel font*/
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.list-footer {
  line-height: 1.3rem;
}
